body {
    color:black;
    font-size:16pt;
    }

h1 {
  color:blue;
  opacity:0.2;
  font-size:60pt;
  margin-top:-20px;
  margin-bottom:0px;
  text-align:center;
  }

p {
 margin:10px;
 text-align:center;
 }

.error-message {
    color: red;
}

.hint-message {
    margin: 7px;
    opacity: 0.5;
    font-size: 8pt;
}

 .btn-flat-border {
    display: inline-block;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
  }
  
  .btn-flat-border:hover {
    background: #67c5ff;
    color: white;
  }

  form {
      text-align: center;
  }

  .form_conf {
    text-align: center;
}
.form_conf form {
    display: inline-block;
    margin: 0 10px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

th {
    background-color: rgba(9, 172, 131, 0.63);
    border: solid 1.5px black;
}

td {
  border: solid 1px black;
  text-align: center;
}

tr {
  height: 50px;
}

tbody {
  border: solid 3px black;
}

colgroup {
  border: solid 3px black;
}