{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html lang='ja'>
<head>
    <meta charset="utf-8">
    <title>Question</title>
    <link rel="stylesheet" type="text/css" 
        href="{% static 'sort/css/style.css' %}" />
</head>

<body>
    <h1>Question</h1>
    <p>文字を並び替えて意味のある言葉にしてみてください。ただ、単語はWikipediaからランダムで拾ってきてるので非常に難しい感じになってます...時々意味わかんないものも出てきます。</p>
    <p>入力時は半角スペースも入れるの忘れないように。</p>
    <p>例: 「しまよ んそさ」→「そん まさよし」</p>
    </br>
    <p class='error-message'>{{ message }}</p>
    <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">
    <p class='question-style'>{{ question }}</p>
    </div>
    <form action="{% url 'question' %}" method="post">
        {% csrf_token %}
        {{ form.text|add_class:"input-word" }}
        <input class="btn-flat-border" type="submit" value="check">
    </form>
    </br>
    </br>
    <p><a href="{% url 'answer' %}" class="btn-flat-border">回答見ちゃう</a></p>
    </br>
    <p><a href="/../" class="btn-flat-border">HOME</a></p>
</body>
</html>