{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" 
        href="{% static 'homepage/css/style.css' %}" />
</head>

<body>
    <h1>{{title}}</h1>
    <h3>{{msg}}</h3>

    <p>主にPythonの学習成果を残す用。このHPはDjangoを使っています。</p>
    <h2>作ったものたち(まだ一個だけど)</h2>
    <p><a href="/sudoku">数独プロジェクト</a></p>

    <h2>進行中</h2>
    <p>・数独アプリの改善。フォーマットを使って入力ができるようにする。ユーザー登録とかもするか考え中。→入力できるようになりました。ただスマホだと表示が変になる事件は解決していない。あと更新したら消えてしまう。そろそろ手を引きたいけど...</p>
    <p>・スリザーリンクアプリ。コードがかなり入り組んできてしまったので難航中。←グラフ理論ちゃんと勉強した方が良さそう。</p>
    <p>・自己紹介のページ。</p>
    <p>・Twitterに自然言語処理を使った何か。API制限が思ったよりきつそうなので大したものはできないかも。</p>
    <p>・このページを綺麗にする。見ての通りセンスのかけらもない。Webデザインというのはそれはそれで勉強しがいのあるものであるように思われる。</p>
    <p>・<a href='https://atcoder.jp/users/wattaihei'>AtCoder</a>のレートをあげる。9月までに緑色になれるかな。←なれました！！</p>
</body>

</html>