{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" 
        href="{% static 'homepage/css/style.css' %}" />
</head>

<body>
    <h1>{{title}}</h1>

    <p>主にPythonの学習成果を残す用。このHPはDjangoを使っています。</p>
    <div class="box-item">
        <h2>作ったものたち</h2>
        <div class="item-content">
            <h3><a href="/sudoku">数独プロジェクト</a></h3>
            <p>
                数独を作る&答え合わせるのを自動でやってくれます。
                スマホだと表示が変になる事件あり。いつかjsで書き直す。
            </p>
        </div>

        <div class="item-content">
            <h3><a href="/sort">ソートなぞなぞ</a></h3>
            <p>
                スクレイピングの練習。クソゲーと化してます。暇な人はどうぞ。
            </p>
        </div>

        <div class="item-content">
            <h3><a href="https://hithomerun.herokuapp.com/">Hit and Homerun</a></h3>
            <p>
                jsの練習。有名なアレです。
            </p>
        </div>
        
        <div class="item-content">
            <h3><a href="/portfolio">自己紹介ページ</a></h3>
            <p>
                やっと作りました。
            </p>
        </div>

    </div>


    <div class="box-item">
        <h2>更新情報</h2>
        <p>(2020/06/07) 自己紹介ページの追加、TOPページのデザイン変更など。</p>
        <p>(2019/08/08) ソートなぞなぞを公開。</p>
    </div>

    <div class="box-item">
        <h2>進行中(本当？？)</h2>
        <ul>
            <li><p>スリザーリンクアプリ。コードがかなり入り組んできてしまったので難航中。←グラフ理論ちゃんと勉強した方が良さそう。</p></li>
            <li><p>ソートなぞなぞにヒント機能を追加する。あとカテゴリを選べるようにする。</p></li>
            <li><p><a href='https://atcoder.jp/users/wattaihei'>AtCoder</a>のレートをあげる。</p></li>
        </ul>
    </div>

</body>

</html>