body {
      color:black;
      font-size:16pt;
      }

h1 {
    color:green;
    opacity:0.2;
    font-size:60pt;
    margin-top:-20px;
    margin-bottom:0px;
    text-align:left;
    }

h2 {
    color:yellow;
    font-size:40pt;
    }


p {
   margin:10px;
   }
   
a {
   color:blue;
   text-decoration: none;
   }
