body {
      color:black;
      font-size:16pt;
      }

h1 {
    color:red;
    opacity:0.2;
    font-size:60pt;
    margin-top:-20px;
    margin-bottom:0px;
    text-align:left;
    }

h2 {
    color:lightgreen;
    opacity:0.5;
    font-size:25pt;
    }

h3 {
    color:black;
    opacity:0.2;
    font-size:15pt;
    }

p {
   margin:10px;
   }
   
a {
   color:blue;
   text-decoration: none;
   }
